<h1 class="h3 mb-3 fw-normal">Please sign up</h1>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off" }) do |f| %>
  <div class="form-group mb-4">
    <div class="form-floating">
      <%= f.input :email, input_html: { autocomplete: 'off', class: 'form-control', id: 'floatingInput' }, label: false, wrapper: false %>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <%= f.input :password, input_html: { autocomplete: 'off', class: 'form-control', id: 'floatingPassword' }, label: false, wrapper: false %>
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <%= f.input :password_confirmation, input_html: { autocomplete: 'off', class: 'form-control', id: 'floatingPasswordConfirm' }, label: false, wrapper: false %>
      <label for="floatingPasswordConfirm">Password Confirmation</label>
    </div>

    <%= f.button :button, "Sign up", class: "w-100 btn btn-lg btn-primary", data: { button_name: "Sign up" } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
